# Ignore all, for ignoring executable binaries
*

# Unignore all with extension
!*.*

# Unignore .x files
!.*

# Ignore .o-files
*.o

# Ignore .map-files
*.map

node_modules
*.wasm
emsdk
package-lock.json
*.wat
*.out
.DS_Store
.vscode